html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0px;
padding: 0px;
border: 0px none;
font: inherit;
vertical-align: top;
direction: rtl;
}
.clear{clear:both}
body{
    background:url(../img/bak.png);
    margin: 0 auto;
    font-family: Droid Arabic Kufi;		
}

/*header*/
header{
    background: #0c394e;
    border-bottom: 1px solid #a5a6a6;		
	}
#b-searchbtn{
    display: none;	
	}
.all-width{
    width: 1188px;
    margin: 0 auto;
	}
.all-grw{
    width: 988px;
    margin: 0 auto;	
	}
		
.bl-t-1{
    float: right;
    margin: 0 20px 0px 0px;		
	}	
.bl-t-1 ul li ul {
    position: absolute;
    background: #70be47;
    z-index: 99;
	top: 123px;
    max-width: 200px;
    width: 200px;	
    margin: 20px -75px 0px 0px;
    border-radius: 5px;
    visibility: collapse;
    opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.bl-t-1 ul li:hover ul {
    margin: 0px -75px 0px 0px;
    visibility: visible;
    opacity: 1;	
}
.bl-t-1 ul li ul:before{
    content: "\f0d8";
    font-family: FontAwesome;
    text-align: center;
    display: block;
    color: #70be47;
	top: 123px;
    margin: -24px 0 -14px 0;
    font-size: 36px;	
	}
.bl-t-1 ul li ul li{
    margin: 0;
	float: none;
    padding: 8px 4px;
    text-align: center;
    border-bottom: 2px solid #5ea03b;
    border-left: none;	
	}	
.bl-t-2{
    float: right;	
	}
.bl-t-3{
    float: left;
    padding: 26px 0;		
	}
.blok-cantr{
    display: block;
    clear: both;	
	}	
		
.blok-top{
    height: 124px;
	}					
	
	
/*logo*/
.logo-right{
    float: right;
    position: relative;
    width: 193px;
    height: 116px;
	}
.logo-right .logo-position{
    position: absolute;
    padding: 0 31px;
    background: #fff;
    box-shadow: 0px 0px 7px 0px #616161;
	}
	
/*nav-top*/
.home-nav{
    background: #09202c;	
	}
.bl-t-1 ul li{
    float: right;
    list-style: none;
    padding: 36px 30px;
    border-left:1px solid #092836;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;		
	}	
.bl-t-1 ul li:hover{
	background:#09202c;
}
	
.bl-t-1 ul li a{
    text-decoration: none;	
    color: #fff;
    display: block;		
	}	
.bl-t-1 ul li a span{
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 21px;	
	}
	
/*search*/
.bl-t-2{
    float: right;
    padding: 42px 4%;	
	}
.bl-t-2 .heaw{
    float: right;
    background: #469a45;
    color: #fff;
    line-height: 2;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer;		
	}
.bl-t-2 #b-query:focus{
    outline: none;
    background: #fff;
    border: 1px solid #b3b3b3;
    color: #09202c;	
	}		
.bl-t-2 #b-query{
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;	
    padding: 4px 8px;
    line-height: 2;
    background: #09202c;
    border: 1px solid #09202c;
    margin: 2px auto 0;
    border-radius: 3px 0 0 3px;
    width: 160px;
    color: #fff;		
	}	
	
/*two buttons*/
.bl-t-3 button{
    display: block;
    padding: 2px 30px;
	-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
    font-family: inherit;
    border: none;
    background: #228586;
    color: #fff;
    margin: 0 0 7px 0;
    cursor: pointer;
    width: 100px;
    border-radius: 3px;	
	}
.bl-t-3 button:hover{
    opacity: 0.5;	
	}	
.bl-t-3 button.bl-botm-1{
    background: #228586;
	}			
.bl-t-3 button.bl-botm-2{
    background: #469a45;
	}
	
/*blok cantr 'news'*/
.blok-cantr {
    display: block;
    clear: both;
    background: #21848b;
    height: 45px;
    line-height: 45px;
    padding: 0 226px 0 0;
}			
.blok-cantr h2{
    float: right;
    background: #71bf46;
    color: #fff;
    padding: 0 25px;
	}
.blok-cantr h2:before{
    content: "\f0d9";
    display: inline-block;
    font-family: FontAwesome;
    color: #71bf46;
    float: left;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 32px 0 -32px;	
	}
#newsData{
    padding: 0px 15px 0px 10px;
    float: right;
	width:76.5%;
    color: #fff;	
	}
#newsData:before{
	display: inline-block;
    font-family:FontAwesome;	
    content: "\f009";
    padding: 0 0 0 6px;		
	}
.news-bo label{
font-size: 22px;
    margin: 12px 4px;
    color: #fff;
    font-weight: 100;
    cursor: pointer;	
	}
#newsData a{
	color:#fff;
	text-decoration:none;
	}			
	
/*blok down*/
.blok-down ul li:first-child{
    border-right: 1px solid #d7d7d7;
	}
.blok-down{
    background: #fff;
    height: 45px;
    padding: 0 226px 0 0;	
	}
.blok-down ul li{
    float: right;
    list-style: none;
    border-left: 1px solid #d7d7d7;
    line-height: 45px;	
	}
.blok-down ul li a{
	color:#636363;
	text-decoration:none;
    display: block;
    padding: 0 10px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;		
	}
.blok-down ul li a:hover{
    color: #63a73d;
	}	





/*footer*/
footer{
    clear: both;
    background: #0c394e;
    margin: 45px 0 0 0;	
	}
.footer-top{
    background: #21848b;
    padding: 12px 0;
    line-height: 16px;
	}
.all-footer-top{
 width: 965px;
    margin: 0 auto;
	}	
.fo-right{
    float: right;
    width: 29%;
	}	
.fo-left{
    width: 70%;
    float: left;
    line-height: 57px;
    border-right: 3px solid #fff;		
	}
.tabna a{
background: #fff;
    margin: 0 4px;
    display: block;
    float: right;
    width: 41px;
    height: 35px;
    text-align: center;
    line-height: 45px;
    border-radius: 2px 15px 2px 16px;
    color: #21848b;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;	
	}
.tabna{
    margin: 12px 0px;	
	}		
.tabna a i{
	line-height: 35px;	
	}
.fo-left li{
    float: right;
    list-style: none;
    margin: 0 10px;
	}	
.fo-left li a{
    padding: 4px 21px;
    background: #fff;
    border-radius: 9px;
    color: #21848b;
    font-weight: bold;
    text-decoration: none;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;		
	}
.tabna a:hover{
    color: #fff;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;		
	}		
.tabna .rss:hover{
    background: #ff8d02;	
	}
.tabna .goo:hover{
    background: #fe0100;	
	}	
.tabna .fac:hover{
    background: #4b6c9f;	
	}	
.tabna .inst:hover{
    background: #2b6f92;	
	}	
.tabna .twi:hover{
    background: #02bfff;	
	}					
.fo-left li a:hover{
    color: #fff;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;	
    background: #70be47;		
	}
					
.footer-botom .bo-bl-ri-logo{
    text-align: center;
    margin: 30px 0 0 0;
    line-height: 4;
    color: #fff;
    font-size: 18px;	
	}	
.footer-botom .bo-bl-ri-logo span{
	display:block;
	}
	
	

			